root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
indent_style = space
trim_trailing_whitespace = true
max_line_length = 120

# Microsoft .NET properties
csharp_indent_braces = false
csharp_new_line_before_catch = false
csharp_new_line_before_else = false
csharp_new_line_before_finally = false
csharp_new_line_before_open_brace = none
dotnet_separate_import_directive_groups = false

# ReSharper properties
resharper_align_linq_query = true
resharper_align_multiline_extends_list = true
resharper_align_multiline_statement_conditions = false
resharper_align_multiline_type_parameter_constraints = true
resharper_align_multiline_type_parameter_list = true
resharper_align_multiple_declaration = true
resharper_blank_lines_after_control_transfer_statements = 1
resharper_blank_lines_after_multiline_statements = 1
resharper_blank_lines_around_accessor = 1
resharper_blank_lines_around_block_case_section = 1
resharper_blank_lines_around_multiline_case_section = 1
resharper_blank_lines_around_using_directives = 0
resharper_blank_lines_before_block_statements = 1
resharper_blank_lines_before_multiline_statements = 1
resharper_blank_lines_before_namespace = 0
resharper_csharp_allow_comment_after_lbrace = true
resharper_csharp_empty_block_style = together
resharper_csharp_insert_final_newline = true
resharper_csharp_keep_blank_lines_in_code = 1
resharper_csharp_keep_blank_lines_in_declarations = 1
resharper_csharp_stick_comment = true
resharper_csharp_wrap_after_declaration_lpar = true
resharper_csharp_wrap_before_declaration_rpar = true
resharper_csharp_wrap_before_first_type_parameter_constraint = true
resharper_csharp_wrap_multiple_type_parameter_constraints_style = chop_always
resharper_csharp_wrap_parameters_style = chop_if_long
resharper_indent_nested_fixed_stmt = true
resharper_indent_nested_for_stmt = true
resharper_indent_nested_foreach_stmt = true
resharper_indent_nested_lock_stmt = true
resharper_indent_nested_usings_stmt = true
resharper_indent_nested_while_stmt = true
resharper_indent_raw_literal_string = indent
resharper_int_align = true
resharper_outdent_statement_labels = true
resharper_wrap_before_arrow_with_expressions = true
resharper_wrap_before_extends_colon = true
resharper_wrap_before_primary_constructor_declaration_rpar = false

[*.cs]
indent_size = 4

[*.{xml,props,slnx,csproj,js,jsx,ts,tsx,html,css,yml,yaml,md}]
indent_size = 2

[*.md]
trim_trailing_whitespace = false
